[project]
name = "ongleam-study-architecture-patterns-with-python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "markitdown[pdf]>=0.1.4",
]
